<div class="parent">
        <div class="modal">
          <form [formGroup]="changePassword" >
              <div class="modal-content" fxLayout="coloumn">
                  <div class="headerclass" fxFlex.xs="10%">
                    <b>Change Your Password</b>
                  </div>
                  <br />
            
                  <div class="input-div-class" fxFlex.xs="2px">
                    <i class="material-icons orange600">email</i
                    ><input
                    matInput
                    formControlName="username"
                      style="width:260px"
                      placeholder="Username"
                      class="input-class"
                      type="email"
                    />
                  </div>
                  <br />
                  <div class="input-pwd-class" fxFlex.xs="10%">
                    <i class="material-icons orange600">lock</i
                    ><input
                    matInput
                    formControlName="newPassword"
                      style="width:260px"
                      placeholder="New password"
                      class="password-class"
                      type="password"
                    />
                  </div>
                  <br />
                  <div class="submit-button" align="center" fxFlex.xs="10%">
                    <mat-chip-list align="center">
                      <mat-chip style="color: yellow" (click)="changePasswordMethod()" selected>Submit</mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
          </form>
        </div>
      </div>