.myclass.orange600 {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    color: #f9d71c;
  }
  .material-icons.orange600 {
    font-size: 60px;
    color: #f9d71c;
  }
  .body {
    background-color: grey;
  }
  .container {
    padding-top: 150px;
  }
  
  .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    align-content: center;
    position: absolute;
    border-radius: 0.5em;
    transition: all 0.5s;
    padding: 2em;
  }